<div class="media person-preview well" id="<%= dom_id(person) %>">
  <div class="preview-picture pull-left">
    <% if person.preview_picture.present? %>
      <%= link_to person do %>
        <%= image_tag(person.preview_picture_image_url(:medium_thumb)) %>
      <% end %>
    <% else %>
      <div class="preview-picture-placeholder well"><%= link_to "&#x263A;".html_safe, person %></div>
    <% end %>
  </div>
  <div class="media-heading">
    <h4><%= link_to person.fullname_with_prefix, person %></h4>
  </div>
  <div class="person-description">
    <%= person.description.to_html.html_safe if person.description.present? %>
  </div>
  <div class="person-positions">
    <%= render 'person_positions_table', :person => person if person.person_positions.present? %>
  </div>
</div>
